*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 20px;

    section{
        height: 100%;
        flex-grow: 1;
        background-size: cover;
       background-repeat: no-repeat;
        background-position: center;
       
    }
    section:hover{
        flex-grow: 3;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }

    section:nth-child(1){
        background-image: url(pic\ 1.jpg);
    }
     section:nth-child(2){
        background-image: url(./pic2.jpg);
    }
     section:nth-child(3){
        background-image: url(pic3.png);
    }
     section:nth-child(4){
        background-image: url(pic4.jpg);
    }
     section:nth-child(5){
        background-image: url(pic5.png)
     }
}